{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["*"],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"remove","lines":["*"],"id":3}],[{"start":{"row":3,"column":4},"end":{"row":3,"column":5},"action":"remove","lines":["h"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":4},"end":{"row":3,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1560709850148,"hash":"dc8015c8f46dc38fb7dec36c85edded390e0a3b1"}