{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["*"],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"remove","lines":["*"],"id":3}],[{"start":{"row":3,"column":4},"end":{"row":3,"column":5},"action":"remove","lines":["h"],"id":4}],[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["*"],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":1},"end":{"row":2,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":11,"mode":"ace/mode/ini"}},"timestamp":1560710412143,"hash":"977cdff46d7c1e03b5c1e838c8c9cc79811e79c3"}